
/* body{
    background-color: rgba(100, 253, 246, 0.986);
} */

#home{
    text-align: center;
    height: 30%;


}
/* login Section */
h1{

    color: red;
}
h2{
    text-align: center;
    color: blueviolet;
}
